a {
  text-decoration: none;
}

.NavBar ul{
  background-color: rgb(59, 5, 46);
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.NavBar li {
  display: inline-block;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 18px;
  color: rgb(231, 250, 255);
}

.NavBar li:hover {
  color: black;
  background-color: lightseagreen;
}

.Home {
  position: fixed;
  text-align:center;
  background-color: black;
  width: 100%;
  height: 100%;
}

.Home h1 {
  padding: 100px;
  margin: 0px;
  color: white;
}

.Home div {
  margin: auto;
  background: white;
  color: black;
  width: 20%;
  height: 20;
}

.VolleyballNet {
  position: absolute;
  display: block;
  margin: auto;
  
  left: 25%;
  bottom: 0%;
}